{%- set page_title = '' -%}
{%- extends 'base.jinja2' %}
{%- block content -%}
<p>
    I <a href="https://opcode.co.nz/">write web applications</a> and <a href="https://medium.com/@nigelmcnie">rail against online voting</a>.
</p>
<ul>
    <li>Twitter: <a href="https://twitter.com/nigelmcnie">@nigelmcnie</a></li>
    <li>Email: <a href="mailto:nigel@mcnie.name">nigel@mcnie.name</a></li>
</ul>
{%- endblock -%}
